@import "tailwindcss";

/* Apply to the scroll container */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollbar-custom::-webkit-scrollbar-track {
  background: #1f2937; /* dark gray */
  border-radius: 100vh;
}

/* Handle */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #10b981; /* emerald */
  border-radius: 100vh;
  border: 2px solid #1f2937;
}

/* Handle on hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #059669; /* darker green */
}